<h2>Residencias del usuario</h2>

<table class="table">
	<thead>
		<tr>
			<th width="80%"> Nombre de la residencia </th>
			<th width="20%"> Descripcion </th>
			<th colspan="2"></th>
		</tr>
	</thead>

<tbody>
	<% User.find(1).residences.each do |residence| %>
	<tr>
		<td><%=residence.name %> </td>
		<td><%=residence.description %></td>
	</tr>
	<% end %>
</tbody>
</table>
<%= link_to 'Volver', root_path, class: 'btn btn-default' %>
<br> 

