<h1> Informacion de la empresa </h1>
<h5>
	Home Switch Home es una cadena de residencias de tiempos compartidos que ofrece la posibilidad reservar semanas sobre distintos tipos de residencias, destinos y servicios relacionados.
</h5>
<h5>Todos nuestros usuarios contarán con 2 CREDITOS por año, de 1 SEMANA CADA UNO, sin excepciones 
	Las reservas deverán ser realizadas con un rango de anticipación de entre 6 y 8 meses en las semanas disponibles,
	a excepción de los Hot-Sales, los cuales serán dentro de un rango de 6 meses.
</h5>

<%= link_to 'Volver', root_path, class: 'btn btn-secondary btn-sm' %>