<h1> Terminos y condiciones </h1>

<h5> HomeSwitchHome es un comparador de precios de hoteles y ofrece a sus usuarios información sobre distintos tipos de alojamientos (hoteles, hosteles, etc.), destinos y servicios relacionados con viajes.
Aplicación del servicio</h5>
<h5>1.1. Los siguientes términos y condiciones están sujetos a cambios ocasionales y se aplica a todos los servicios que HomeSwitchHome proporciona directa o indirectamente (por ejemplo, mediante terceros) a través de Internet o de dispositivos móviles, por correo electrónico o por teléfono. </h5>

<h5>1.2. Al hacer uso de nuestra página web, el usuario confirma que ha leído, entendido y aceptado nuestros términos y condiciones, así como nuestra política de privacidad, incluyendo el uso de cookies.
Servicios y contrato</h5>
<h5>2.1. HomeSwitchHome ofrece la posibilidad de comparar los servicios de terceros a través de su sistema. </h5>

<h5>2.2. Además, los usuarios tienen la posibilidad de reservar algunos hoteles a través de una conexión directa ("HomeSwitchHome Express Booking") con la página web del establecimiento (terceros). De esta forma, la reserva va a ser hecha directamente en la página web del hotel y no en las agencias de reservas que compara HomeSwitchHome. En esos casos, HomeSwitchHome no funciona como un operador de viajes o ni la parte contratante con el usuario, sino que se limitará a establecer la conexión técnica con la página web de reserva del hotel. Al hacer una reserva en la página web del tercero correspondiente, el usuario acepta los términos y condiciones disponibles en esa página web de reservas. La reserva en esa página web supone la celebración de un contrato exclusivamente entre la página web de reserva del hotel y el usuario, no entre este y HomeSwitchHome. HomeSwitchHome no constituirá ninguna de las partes contratantes en la reserva hotelera, por lo que el usuario podrá ejercer cualquier derecho originado a raíz de aquella contra la otra parte contratante (la página web de reservas), y no contra HomeSwitchHome. La reserva en esa página web supone la celebración de un contrato exclusivamente entre la página web de reserva del hotel y el usuario, no entre este y HomeSwitchHome. HomeSwitchHome no constituirá ninguna de las partes contratantes en la reserva hotelera, por lo que el usuario podrá ejercer cualquier derecho originado a raíz de aquella contra la otra parte contratante (la web de reserva), y no contra HomeSwitchHome.</h5> 

<h5>2.3. El presente contrato no afectará a los acuerdos concluidos entre un alojamiento y el usuario.
Comunidad de HomeSwitchHome y zona para miembros </h5>
<h5>3.1. Los usuarios podrán unirse a la Comunidad de HomeSwitchHome (en lo sucesivo, «la Comunidad») y crear una cuenta en la zona para miembros de HomeSwitchHome. Los usuarios que se registren en la Comunidad podrán publicar contenido generado por ellos mismos, así como participar activamente en el desarrollo de la plataforma mediante las funciones administrativas. Los usuarios no registrados podrán leer gratis el contenido disponible en HomeSwitchHome.</h5> 

<h5>3.2. Al usar la zona para miembros de HomeSwitchHome, los usuarios podrán gestionar y guardar sus búsquedas. Para crear una cuenta, será necesario aportar datos personales. Aparte del nombre de usuario, ningún otro dato personal será visible. Para obtener más información al respecto, recomendamos consultar la política de privacidad de HomeSwitchHome. Borrar la cuenta supondrá la eliminación de todos los datos del usuario de forma permanente. </h5>

<h5>3.3. Un mismo usuario no se podrá registrar más de una vez. Además, corresponderá a este asegurarse de que sus datos personales sean correctos y completos. </h5>

<h5>3.4. Los usuarios serán responsables de velar por la privacidad de los datos de su cuenta, en especial de la contraseña. Asimismo, serán responsables del uso que se haga de su cuenta en relación con HomeSwitchHome y terceros. Queda totalmente prohibido divulgar estos datos para el uso de terceros. </h5>

<h5>3.5. En el caso de que se haga un uso no autorizado de los servicios de HomeSwitchHome mediante nombre de usuario y una contraseña inapropiados, el usuario registrado deberá notificarlo a HomeSwitchHome inmediatamente.
Privacidad y envío de correos electrónicos</h5>
<h5>4.1. La protección de los datos personales proporcionados por los usuarios es de suma importancia para HomeSwitchHome y, por consiguiente, se velará por el cumplimiento de la normativa correspondiente en materia de protección de datos. Para obtener más información al respecto, HomeSwitchHome recomienda leer detenidamente su política de privacidad. </h5>

<h5>4.2. HomeSwitchHome solamente recopilará, tratará y usará los datos personales de los usuarios (en lo sucesivo «datos») si existe un consentimiento expreso o una disposición legal que permita recopilar, tratar o usar dichos datos. </h5>

<h5>4.3. HomeSwitchHome se limitará a recopilar, procesar y utilizar aquellos datos que resulten necesarios para la prestación de sus servicios, el uso y el funcionamiento de sus páginas web y aplicaciones, así como de los servicios que ofrece. Para el uso de «HomeSwitchHome Express Booking», el usuario acepta el procesamiento de los datos de su tarjeta bancaria por parte de HomeSwitchHome N.V., que podrá transmitírselos a las webs de reserva de los hoteles correspondientes para la formalización de reservas en los mismos. </h5>

<h5>4.4. Si el usuario acepta recibir información sobre HomeSwitchHome durante el proceso de registro en la Comunidad o en un momento posterior, HomeSwitchHome le enviará esta información de forma periódica. El consentimiento para el envío de dicha información, que estará vigente a partir de que el usuario reciba el correo electrónico de confirmación de parte de HomeSwitchHome, se podrá revocar en cualquier momento por escrito o por correo electrónico. Al hacer click en el enlace de confirmación incluido en dicho correo electrónico, el usuario pasará a estar registrado para recibir nuestras newsletter.
Obligaciones de los usuarios</h5>
<h5>5.1. Es responsabilidad de los usuarios adquirir los derechos sobre los contenidos (texto, fotografías, opiniones, enlaces, etc.) que añadan a HomeSwitchHome, lo que significa que deben asegurarse de poseer todos los derechos sobre los contenidos que publiquen en la plataforma de HomeSwitchHome y de que estos contenidos no violen los derechos de terceros. </h5>

<h5>5.2. Los usuarios se comprometen a no utilizar los servicios de HomeSwitchHome para crear los siguientes tipos de contenidos:
publicidad encubierta;
contenidos no relacionados con el elemento sobre el que se está opinando;
contenidos subjetivos o intencionadamente falsos;
contenidos inmorales, pornográficos u ofensivos;
contenidos que infrinjan los derechos de terceros y, más concretamente, los derechos de autor;
contenidos que sean contrarios a la ley vigente o constitutivos de delito;
contenidos infectados con virus u otros programas que puedan dañar el software o el hardware o que puedan afectar al correcto uso y/o funcionamiento de los ordenadores;
encuestas o cartas en cadena;
y contenidos que tengan como objetivo recopilar o usar los datos personales de otros usuarios, especialmente para fines comerciales.</h5>
<h5>5.3. Los usuarios se comprometen a no usar programas o funciones para la generación automática de opiniones o contenidos en HomeSwitchHome. </h5>

<h5>5.4. En caso de incumplimiento de los términos y condiciones, HomeSwitchHome se reserva el derecho a eliminar el contenido sin necesidad de declarar los motivos, a retener los pagos obtenidos en la Comunidad de HomeSwitchHome y a bloquear permanentemente al miembro en cuestión. Esto no afectará al derecho a incoar una causa penal.
Terminación</h5>
<h5>6.1. HomeSwitchHome se reserva el derecho de limitar el acceso a un usuario En caso de que se ponga en conocimiento de HomeSwitchHome que un miembro está haciendo un uso inadecuado de su página web, HomeSwitchHome podrá retirar el acceso al usuario y eliminar su registro en el plazo de una semana tras recibir la información. El usuario también podrá cancelar su propio acceso y registro dentro del mismo plazo. Lo anterior no afectará al derecho a la terminación inmediata por una causa justificada.
Responsabilidad
<h5>7.1. HomeSwitchHome no será responsable de la exactitud, calidad, completitud, fiabilidad o credibilidad del contenido proporcionado por los usuarios y/o las agencias de reserva. En particulas, HomeSwitchHome no ofrecerá consejos o información con respecto a la selección de alojamientos. </h5>

<h5>7.2. Los acuerdos surgidos de la reserva de un alojamiento son entre el usuario en cuestión y la agencia de reservas externa que haya seleccionado. En particular, HomeSwitchHome no actuará como organizador o agencia de viajes en ningún momento. Se aplicarán de forma exclusiva los términos y las condiciones del organizador o de la agencia de viajes correspondiente, en especial con respecto al derecho de cancelación o retractación. El contacto sobre cuestiones de proceso de reserva y pagos, al igual que consultas sobre el contrato, es con la respectiva agencia de reservas. HomeSwitchHome no formará parte de estos cuestiones contractuales, acuerdos o reclamos de los usuarios de HomeSwitchHome y la respectiva agencia de reservas externa. </h5>

<h5>7.3. HomeSwitchHome no verificará la exactitud del contenido proporcionado por las agencias de reserva o por los miembros de la Comunidad. Este contenido es provisto por las agencias de reservas/Comunidad en referencia a un alojamiento. HomeSwitchHome no influirá de ningún modo en esta información (en especial en lo que respecta a imágenes, comentarios, opiniones, etc.). La publicación del contenido y los informes generados por los usuarios en HomeSwitchHome no reflejan la opinión de HomeSwitchHome y, en consecuencia, HomeSwitchHome no reclama estos contenidos como propios. </h5>

<h5>7.4. En particular, los hipervínculos, los banners, la información sobre los alojamientos, los destinos de viaje o los proveedores y similares, son proporcionados por las agencias de reserva y los miembros de la Comunidad y, por tanto, no son recomendaciones o información procedente de HomeSwitchHome. Por motivos técnicos, la actualización de los precios que HomeSwitchHome recibe de parte de las agencias de reserva no se realiza en tiempo real y, en consecuencia, es posible que el precio que aparezca en la página web de reservas no coincida con el precio indicado en HomeSwitchHome. HomeSwitchHome no garantiza la exactitud de la información, en especial en lo referente a precios y disponibilidad. </h5>

<h5>7.5. HomeSwitchHome no será responsable de los errores técnicos cuya causa esté fuera de su ámbito de responsabilidad ni de los daños y perjuicios causados por fuerza mayor. HomeSwitchHome no garantiza la disponibilidad ininterrumpida de los datos y puede llevar a cabo tareas de mantenimiento cuando lo considere oportuno.
Cambios en los términos y condiciones.</h5>
<h5>Los presentes términos y condiciones serán aplicados cuando se haga uso de la página web de HomeSwitchHome. Los usuarios registrados serán notificados via e-mail. Los usuarios pueden descargar los actuales términos y condiciones en su computadoras e imprimirlos cuando así lo deseen.</h5>
<h5>Ley aplicable y lugar de jurisdicción.</h5>
<h5>Se aplican las leyes de la República Federal de Alemania. En el caso de empresarios y personas físicas que no estén bajo la jurisdicción alemana, los tribunales de Düsseldorf (Alemania) serán los únicos competentes. En el resto de casos, se aplicarán las normas de competencia judicial. La versión alemana del presente contrato de términos y condiciones prevalecerá sobre las demás.
</h5>

<%= link_to 'Volver', root_path, class: 'btn btn-secondary btn-sm' %>