<body>
	<h1> </h1>
	<h1> </h1>
	<h1> </h1>
	<h1> </h1>
	<table class="table table-striped table-dark">
  	<thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col"><span class="oi oi-eye"></span></th>
			<%- if current_user != nil %>
      	<th scope="col"><span class="oi oi-pencil"></span></th>
			<% end %>
			<%- if current_user.try(:admin?) %>
      	<th scope="col"> <span class="oi oi-trash"></span></th>
			<% end %>
		</tr>
  	</thead>
  	<tbody>
			<%- if current_user.try(:admin?) %>
				<%= render  "admin" %>
			<%-else  %>
				<%= render  "user" %>
			<% end %>
  	</tbody>
	</table>
 	<td><%=link_to 'Volver', root_path, class: 'btn btn-secondary btn-sm' %></td>
 	<% if current_user.try(:admin?) %>
		<%= link_to 'Nueva residencia', new_residence_path, class: 'btn btn-primary' %>
	<% end %>
</body>
